---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import Button from '@/components/Button.astro'

const EDITORS = [
	{
		name: 'VS Code',
		description: 'IDE?, Text Editor?',
		href: 'https://code.visualstudio.com/',
		iconPath: 'vscode',
		iconBgColour: '#2C2C32'
	},
	{
		name: 'Neovim',
		description: 'Text Editor',
		href: 'https://www.neovim.com/',
		iconPath: 'neovim',
		iconBgColour: '#FF9800'
	},
	{
		name: 'Visual Studio',
		description: 'IDE',
		href: 'https://www.viusalstudio.com/',
		iconPath: 'visualstudio',
		iconBgColour: '#EFEFEE'
	}
]

const DEVTOOLS = [
	{
		name: 'Figma',
		description: 'Design Tool',
		href: 'https://www.figma.com/',
		iconPath: 'figma',
		iconBgColour: '#000001'
	},
	{
		name: 'Hoppscotch',
		description: 'API Development Tool',
		href: 'https://hoppscotch.io',
		iconPath: 'hoppscotch',
		iconBgColour: '#FF5733'
	},
	{
		name: 'Windows Terminal',
		description: 'Terminal Emulator',
		href: 'https://iterm2.com',
		iconPath: 'windows-terminal',
		iconBgColour: '#4D4D4D'
	},
	{
		name: 'WSL with Kali Linux',
		description: 'Linux Environment',
		href: 'https://www.kali.org/docs/wsl/win-kex/',
		iconPath: 'kali-linux',
		iconBgColour: '#557C94'
	}

	// {
	//     name: 'Penpot',
	//     description: 'Design Tool',
	//     href: 'https://penpot.app',
	//     iconPath: 'penpot',
	//     iconBgColour: '#00BFA6'
	// }
]

const PRODUCTIVITY = [
	{
		name: 'Arc',
		description: 'Browser',
		href: 'https://arc.net/',
		iconPath: 'arc',
		iconBgColour: '#414350'
	},
	{
		name: 'Notion',
		description: 'Note Taking',
		href: 'https://www.notion.so/product',
		iconPath: 'notion',
		iconBgColour: '#EFEFEE'
	},
	{
		name: 'Obsidian',
		description: 'Long-form Writing',
		href: 'https://obsidian.md/',
		iconPath: 'obsidian',
		iconBgColour: '#7A3EE8'
	}
]
const BROWSERS = [
	{
		name: 'Firefox',
		description: 'Browser',
		href: 'https://www.mozilla.org',
		iconPath: 'firefox',
		iconBgColour: '#FF7139'
	},
	{
		name: 'Arc',
		description: 'Browser',
		href: 'https://www.apple.com/safari',
		iconPath: 'arc',
		iconBgColour: '#414350'
	},
	{
		name: 'Microsoft Edge',
		description: 'Browser',
		href: 'https://www.microsoft.com/en-us/edge',
		iconPath: 'edge',
		iconBgColour: '#0078D7'
	}
]
const NOTETAKING_APPS = [
// {
// 		name: 'Sticky Notes',
// 		description: 'For task management, long-term planning and notes',
// 		href: 'https://www.notion.so',
// 		iconPath: 'sticky-notes',
// 		iconBgColour: '#FFCC00'
// 	},
	{
		name: 'Microsoft OneNote',
		description: 'For quick notes, mind-mapping and managing my newsletter',
		href: 'https://www.onenote.com/',
		iconPath: 'onenote',
		iconBgColour: '#7719AA'
	}
]

const HELPERAPPS = [
	{
		name: 'UniGetUI',
		description: 'All-in-one package manager for Windows',
		href: 'https://brew.sh',
		iconPath: 'wingetui',
		iconBgColour: '#0078D7'
	},
	{
		name: 'Bitwarden',
		description: 'Password manager which really checks the right boxes',
		href: 'https://1password.com',
		iconPath: 'bitwarden',
		iconBgColour: '#175DDC'
	},
	{
		name: 'Barrier',
		description: 'Software KVM that allows sharing a mouse and keyboard over a network',
		href: 'https://1password.com',
		iconPath: 'barrier',
		iconBgColour: '#00AEEF'
	}
]
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Tools</h1>
				<p>Tools and software I use daily</p>
			</div>

			<ToolSection title='Editors' tools={EDITORS} />
			<ToolSection title='Productivity' tools={PRODUCTIVITY} />
			<ToolSection title='Browsers' tools={BROWSERS} />
			<ToolSection title='Note Taking' tools={NOTETAKING_APPS} />
			<ToolSection title='Helper Apps' tools={HELPERAPPS} />
			<ToolSection title='Dev Tools' tools={DEVTOOLS} />

		</div>
	</div>
</PageLayout>
